body {
  font-family: sans-serif;
}

header {
  background-color: #444;
  width: 100%;
  height: 96px;
  padding: 13px;
  box-sizing: border-box;
}

header div {
  width: 960px;
  margin: auto;
}

header img {
  float: left;
  margin-right: 25px;
}

nav {
  float: left;
}

nav li {
  display: inline-block;
  padding: 23px 0;
  margin-right: 80px;
  font-size: 18px;
}

nav a {
  color: #999;
  text-decoration: none;
}

main {
  width: 960px;
  margin: auto;
  padding: 30px 0;
}

main>img {
  margin-bottom: 29px;
}

main li {
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 29px;
}

main li:last-child {
  margin-right: 0;
}

article img {
  float: left;
}

article div {
  padding-left: 30px;
  display: inline-block;
  width: 480px;
  height: 400px;
  box-sizing: border-box;
}

article div h2 {
  font-size: 125%;
  margin-bottom: 7px;
}

article div p {
  height: 336px;
  font-style: italic;
  line-height: 1.4em;
  overflow: scroll;
}

article button {
  height: 30px;
  width: 180px;
  margin-top: 7px;
  background-color: black;
  color: #eee;
  font-size: 100%;
  transition: background-color 350ms;
}

button:hover {
  background-color: #444;
}

footer {
  background-color: #444;
  width: 100%;
  height: 109px;
  /* padding: 13px; */
  /* box-sizing: border-box; */
}